{{#with content }}
<section class="event_item full" data-next-state="partial" data-id="{{id}}">
	<header>
		<section class="top_panel ">
			<span class="time_panel ">
				<span class="time">{{time_range}}Mon, June 11, 14:00</span>
				<span class="duration">({{duration_hours}} hours)</span>
			</span>	
			<section class="action_panel">
				<a href="#/events/{{id}}"><img src="/images/icons/edit.png" alt="Edit"></a>
				<img src="/images/icons/delete.png" alt="Delete" />
			</section>		
		</section>
		<section class="title">		
			{{title}}
		</section>
	</header>
	<section class="details_panel">	
		<img src="/images/lida.png" alt="person photo" />
		<img src="/images/pepa.png" alt="person photo" />
		{{description}}
	</section>	
</section>  
{{/with}}