<section id="actions">
	<a href="#/members/new" {{action "newMember" on="click"}}>Add Member</a>
</section>

<section class="members">
	<div class="photos">
		{{view App.MembersView}}
	</div>
</section>

<section class="content">
	<section class="day_picker">
		day_picker
	</section>
	<section class="events">
		<section class="detail_form">
		</section>				
		
		<section class="events-now">
			<section class="past_events">
				past_events  {{view App.CalEventsView}}
			</section>
			
			<section class="current_day">
				<section class="panel">
					<span class="current_date">2012-04-10</span>
					<a href="#/events/new">New Event</a>
				</section>
				<div class="current">
					current  {{view App.CalEventsView}}
				</div>
			</section>
		</section>

		<section class="events-coming">
			<section class="next_day">
				<section class="panel">
					<span class="next_date">2012-04-10</span>
					<a href="#/events/new">New Event</a>
					<div class="next">
					</div>
				</section>
				next_day  {{view App.CalEventsView}}
			</section>
			
			<section class="future">
				future  {{view App.CalEventsView}}
			</section>			
		</section>
		
	</section>
</section>


