
<section class="event_item full" data-next-state="partial" data-id="{{id}}">
	<header>
		<section class="top_panel">
			<span class="time_panel">
				<span class="time">{{time_range}}</span>
				<span class="duration">({{duration_hours}})</span>				
			</span>			
		</section>
		<section class="title">		
			{{title}}
		</section>
		<section class="action_panel">
			<div class='photos'>				
				<img src="/images/member.png" alt="person photo" />
			</div>		
			<section class="actions">
				<img src="/images/icons/delete.png" alt="Delete" />

				<a href="#/events/{{id}}"><img src="/images/icons/edit.png" alt="Edit">Edit</a>
			</section>			
		</section>
		
	</header>
	<details class="details_panel">	
		<div class='description'>{{description}}</div>	
	</details>	
</section>	
