<section class="day_picker hidden-phone"> <!-- .hidden-phone -->
	day_picker
</section>
<section class="events row-fluid">
								
	<section class="events_now span7">						
		<section class="detail_form">			
		</section>				
		<section class="past_events">
			<span>Older Events</span>
			  {{view App.EventsView}}						
		</section>
						
		<section class="current_day">
			<span>Today</span>
			<!--<a href="#/events/new">New Event</a>-->
			<a href="#/events/new" {{action "newEvent"}}>New Event</a>
			<section class="current">
				  {{view App.EventsView}}
			</section>
		</section>
	</section>

	<section class="events_coming span5">
		<section class="next_day">
			<span>Tomorrow</span>
			<a href="#/events/new">New Event</a>							
			<section class="next">
				  {{view App.EventsView}}
			</section>
		</section>
						
		<section class="future">
			<span>Future</span>
			  {{view App.EventsView}}
		</section>			
	</section>				
		
</section>
